* {
  font-family: 'Jost', sans-serif;
}
table label input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
table label {
	display: block;
	position: relative;
	cursor: pointer;
	font-size: 20px;
	user-select: none;
}
.check {
	position: relative;
	left: 0%;
	box-sizing: border-box;
	height: 1.5em;
	width: 1.5em;
	background-color: #ccc;
	border: 2px solid red;
	border-radius: 25px;
	transition: 0.15s;
}
table label input:checked ~ .check {
	background-color: limegreen;
	border: none;
	border-radius: 25px;
	transition: 0.15s;
}
.check:after {
	content: "";
	position: absolute;
	display: none;
}
table label .check:after {
	left: 0.50em;
	top: 0.30em;
	width: 0.45em;
	height: 0.7em;
	border: solid white;
	border-width: 0 0.15em 0.15em 0;
	transform: rotate(45deg);
}
table label input:checked ~ .check:after {
	display: block;
}
.imagen {
	background-image: url("/img/home_bg.png");
	background-size: 100% 100%;
	width: 100%;
	height: 700px;
	color: white;
	filter: brightness(95%);
}
.titulo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
	text-transform: uppercase;
}
#map {
  width: 100%;
  height: 522px;
}
@media screen and (min-width:576px) and (max-width:1920px) {
  .usuario {
    width: 133px;
    border-radius: 5px;
  }
}
@media screen and (max-width:575px) {
  #map {
    height: 621px;
  }
}
.button-container {
    text-align: left;
    margin-left: 2rem;
}

.button {
    border: none;
    padding: 9.6px 19.2px;
    background-color:#6592e6;
    color: #ffffff;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0.5rem;
    user-select: none;
    box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
    transition: all .6s ease;
    display: inline-flex;
    align-items: center;
    gap: 0.75rem;
}

.button:hover {
    box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px #488aec17;
}

.button:focus,
.button:active {
    opacity: 0.85;
    box-shadow: none;
}

.button svg {
    width: 1.25rem;
    height: 1.25rem;
}

.button2 {
    display: inline-block;
    text-decoration: none;
    border: none;
    background-color: #6592e6;
    color: #ffffff;
    border-radius: 0.5rem;
    padding:  9.6px 19.2px;
    transition: all ease-in-out 0.2s;
    font-size: 12px;
  }

  .button2 span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
  }

  .button2:hover {
    background-color: #0b5ed7;
  }

/* Input's */
.coolinput {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.coolinput label.text {
  font-size: 0.75rem;
  color: #488aec;
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 10px;
  padding: 0 3px;
  background: transparent;
  width: fit-content;
}

.coolinput input[type="text"].input,
.coolinput input[type="input"].input,
.coolinput input[type="password"].input,
.coolinput select.input,
.coolinput textarea.input {
  color: black;
  font-size: 0.9rem;
  padding: 10px 10px;
  border: 2px #488aec solid;
  border-radius: 5px;
  background: white;
  margin-top: 5px;
}

.coolinput input[type="text"].input:focus,
.coolinput input[type="input"].input:focus,
.coolinput input[type="password"].input:focus,
.coolinput select.input:focus,
.coolinput textarea.input:focus {
  outline: none;
}

.coolinput textarea.input {
  resize: vertical;
  border: 2px solid #488aec;
}

.coolinput textarea.input:focus {
  border: 2px solid #488aec;
}

.coolinput input[type="text"].input {
  color: black;
  font-size: 0.9rem;
  padding: 11px 10px;
  border: 2px #488aec solid;
  border-radius: 5px;
  background: transparent;
}
.coolinput input[type="text"].input:focus {
  outline: none;
}

.coolinput input[type="input"].input {
  color: black;
  font-size: 0.9rem;
  padding: 11px 10px;
  border: 2px #488aec solid;
  border-radius: 5px;
  background: transparent;
}
.coolinput input[type="input"].input:focus {
  outline: none;
}

.coolinput input[type="password"].input {
color: black;
font-size: 0.9rem;
padding: 11px 10px;
border: 2px #488aec solid;
border-radius: 5px;
background: transparent;
}

.coolinput input[type="password"].input:focus {
outline: none;
}

.coolinput select.input {
color: black;
font-size: 0.9rem;
padding: 11px 10px;
border: 2px #488aec solid;
border-radius: 5px;
background: transparent;
width: 100%;
}

.coolinput select.input:focus {
outline: none;
}

.coolinput textarea.input:focus {
  border: 2px solid #488aec;
}

.coolinput textarea.input {
  resize: vertical;
  padding: 10px;
  border: 2px solid #488aec;
  border-radius: 5px;
  background: transparent;
  font-size: 0.9rem;
  color: black;
  outline: none;
}
.coolinput input[type="text"].input,
.coolinput input[type="input"].input,
.coolinput input[type="password"].input,
.coolinput select.input,
.coolinput textarea.input {
  color: black; 

}


[data-bs-theme='dark'] .coolinput input[type="text"].input,
[data-bs-theme='dark'] .coolinput input[type="input"].input,
[data-bs-theme='dark'] .coolinput input[type="password"].input,
[data-bs-theme='dark'] .coolinput select.input,
[data-bs-theme='dark'] .coolinput textarea.input {
  color: white; 
}

[data-bs-theme='dark'] .modal-content {
  background-color: #2b3035; 
  color: #FFF; 
}

[data-bs-theme='dark'] .modal-content input[type="text"].form-control,
[data-bs-theme='dark'] .modal-content input[type="input"].form-control,
[data-bs-theme='dark'] .modal-content input[type="password"].form-control,
[data-bs-theme='dark'] .modal-content label.text {
  background-color: transparent;
  color: white; 
}
[data-bs-theme='dark'] .svg-white {
  fill: #488aec; 
}
[data-bs-theme='dark'] .coolinput select.input {
  color: white; 
  background-color: transparent; 
}
[data-bs-theme='dark'] .coolinput select.input option {
  color: white; 
  background-color: #333; 
}


/* Tabla */
.table {
  background: linear-gradient(to right, #2980b9, #2c3e50);
  padding: 0;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 0 5px rgba(0,0,0,0.05);
}

.table thead th {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 16px;
  font-weight: 500;
  padding: 12px;
  border: none;
}

.table tbody td {
  color: #fff !important;
  font-size: 15px;
  padding: 10px 12px;
  vertical-align: middle;
  border: none;
}

.table tbody tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.05);
}

.centered-div {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}